gradio
rm_anime_bg
# for 2D_stage
############################################################
# For CPU-only installation, run these commands first:
# pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
# Then install the rest of the requirements with:
# pip install -r requirements.txt
############################################################
accelerate
transformers
diffusers==0.24.0
ipdb
einops
omegaconf
imageio
onnxruntime
# for 3D_stage
pytorch_lightning
jaxtyping
wandb
lpips
git+https://github.com/NVlabs/nvdiffrast
ninja
open3d
trimesh
pymeshlab
pygltflib
